@page "/info"

<PageTitle>Personal Info</PageTitle>

<div class="resume-container">

    <div class="section">
        <h2>Personal Information</h2>
        <p><b>Age:</b> @Age</p>
        <p><b>Birth Date:</b> @Birth</p>
        <p><b>Birth Place:</b> @BPlace</p>
        <p><b>Address:</b> @Address</p>
        <p><b>Course:</b> @Course</p>
         <p><b>Contact No:</b> @Contact</p>

    </div>

</div>

@code {
int Age = 19;
string Birth = "July 08, 2006";
string BPlace = " St. Vincent General Hospital, Cebu City, Cebu";
string Address = "Tapilon, Daanbantayan, Cebu";
string Course = "BSIT-2A";
string Contact = "+63 99111444333"; /*Not a real number, sir */
}